* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .d-flex{
    display: flex;
    flex-grow: 1;
    position: relative;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    
    }

    .col-header-small {
        flex-grow: 1;
        font-size: 0.8rem;
        color:black;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .col-header-small-logo{
        flex-grow: 1;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .col-header-large{
        flex-grow: 2;
        text-align: center;     
    }

    
        footer{
            background: black;
        }
    
        .container {
            max-width: 960px;
            margin: 0 auto;
            position: relative;
            /* solo per debug  */
            border: 1px dashed rgb(89, 24, 203);
        
        }
    
        .container.large{
            max-width: 1200px;
        }
    
        .section {
            padding: 40px 0;
            /* bordo solo per debug */
            border: 1px dashed red;
        }
    
        .bg-lightblue{
            background: #B4D0E7;
        }
    
        .row{
            display: flex;
        }
    
        .row .col{
            flex-grow: 1;
            flex-basis: 0;
            
        }
        .col-small{
            width: 30%;
        }
        .col-large{
            width: 70%;
        }
        .img-w-100{
            width: 100%;
        }
    
        .img-w-50{
            width: 50%;
        }
    
        .offset-100{
            bottom: -100px;
        }
        .mb-100{
            margin-bottom: 100px;
        }
    
        .p-2{
            padding: 2rem;
        }
    
        .square-container{
            display: flex;
            flex-wrap: wrap;
        }
    
    .square-container .square{
        width: 50%;
        height: calc(100vw / 6);
        /* solo per debug */
        min-height: 50px;
        border: 1px solid black;
    }
    
    .bg-bourdeaux{
        background: #61082B;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-green{
        background: #A2D39B;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-turchese{
        background: #0093CE;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-rossofuoco{
        background: #FF1C1C;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-rosso{
        background: #D5001F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-celeste{
        background: #95D1CC;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg-azzurro{
        background: #0D2481;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-giallo{
        background: #FFD124;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .f-invert{
        filter: invert(1);
    }
    
    .titolo-jumbo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        text-align: center;
    }

    .titolo-sezione-3{
        padding: 40px 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .par-sez3{
        padding: 2rem 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .btn-white{
        padding: 2rem 2rem;
    }    

    .btn-sez3{
        padding: 0.5rem;
        background: white;
        cursor: pointer;
    }

    .box-titolo-jumbo{
        padding: 2rem 2rem;
    }
    .par-sez-jumbo{
        padding: 1rem 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .btn-sez-jumbo{
        padding: 0.5rem;
        background: blue;
        cursor: pointer;
        color: white;

    }
    .btn-blue{
        padding: 1rem 2rem;

    }

    .span-annulla{
        padding: 2rem 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    .icona-jumbo{
        padding: 3rem 2rem;
    }

    .freccia-jumbo{
        width: 30px;
    }
    
    .gap-col{
        gap: 3rem;
    }

/* sezione 2 */
.titolo-sez2{
    padding: 2rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.ratio{
    padding: 2rem;
}

.stile-ratio{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0rem 2rem;
}
.circle{
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

.titolo-col-sez2{
    padding: 1rem;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-bug{
    width: 15px;
    display: inline-block;
    text-align: center;
    
}

.titolo-card{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.card-padding{
    padding: 2rem 2rem;
    border: 1px solid gray;
}

.prezzo{
    padding: 1rem 0rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.p-3{
    padding: 3rem 0rem;
    display: inline-block;
}

.p-2{
    padding: 2rem 0rem;
}

.img-user{
    width: 15px;
    display: inline-block;
    text-align: center;
}

.img-share{
    width: 15px;
    text-align: center;

}



/* sezione 7 */
.titolo-sez7{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.btn-sez7{
    padding: 0.7rem 4rem;
    background: white;
    border: none;
}

.p-120{
    padding: 120px;
}