* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .d-flex{
        display: flex;
        flex-grow: 1;
        
    }

    .col-header-small {
        flex-grow: 1;
        font-size: 0.8rem;
        color:black;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .col-header-small-logo{
        flex-grow: 1;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-size: cover;
    }

    .col-header-large{
        flex-grow: 2;
        text-align: center;
        
        
    }

.jumbotron{
    width: 100%;
    border: 1px solid black;
    background: #B4D0E7;
}

.h1-jumbo{
    width: 755px;
    font-size: 60px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.col-jumbo-small{

}

.col-jumbo-large{
    
}