* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .d-flex{
    display: flex;
    flex-grow: 1;
    position: relative;
    position: fixed;
    
    }

    .col-header-small {
        flex-grow: 1;
        font-size: 0.8rem;
        color:black;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
    }

    .col-header-small-logo{
        flex-grow: 1;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .col-header-large{
        flex-grow: 2;
        text-align: center;     
    }

    
        footer{
            background: black;
        }
    
        .container {
            max-width: 960px;
            margin: 0 auto;
            position: relative;
            /* solo per debug  */
            border: 1px dashed rgb(89, 24, 203);
        
        }
    
        .container.large{
            max-width: 1200px;
        }
    
        .section {
            padding: 40px 0;
            /* bordo solo per debug */
            border: 1px dashed red;
        }
    
        .bg-lightblue{
            background: #B4D0E7;
        }
    
        .row{
            display: flex;
        }
    
        .row .col{
            flex-grow: 1;
            flex-basis: 0;
            border: 1px dashed rgb(6, 226, 6);
        }
    
        .img-w-100{
            width: 100%;
        }
    
        .img-w-50{
            width: 50%;
        }
    
        .offset-100{
            bottom: -100px;
        }
        .mb-100{
            margin-bottom: 100px;
        }
    
        .p-2{
            padding: 2rem;
        }
    
        .square-container{
            display: flex;
            flex-wrap: wrap;
        }
    
    .square-container .square{
        width: 50%;
        height: calc(100vw / 6);
        /* solo per debug */
        min-height: 50px;
        border: 1px solid black;
    }
    
    .bg-bourdeaux{
        background: #61082B;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-green{
        background: #A2D39B;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-turchese{
        background: #0093CE;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-rossofuoco{
        background: #FF1C1C;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .bg-rosso{
        background: #D5001F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-celeste{
        background: #95D1CC;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg-azzurro{
        background: #0D2481;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-giallo{
        background: #FFD124;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .f-invert{
        filter: invert(1);
    }
    
    .titolo-jumbo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        text-align: center;
    }